## Conditional Statements

In [1]:
a=5
b=2
if a>b:
    print("Im inside if block")
    print("a>b")
    c=5/2
    print(c)
print("end of code")

Im inside if block
a>b
2.5
end of code

In [2]:
a=5
b=2
if a<b:
    print("Im inside if block")
    print("a>b")
    c=5/2
    print(c)
print("end of code")

end of code

In [4]:
if True:
    print("if block is excecuting")
print("end")

if block is excecuting
end

In [8]:
a=5
b=2
if a>b:
    print("Im inside if block")
    print("a>b")
    if a==b:
        c=5/2
        print(c)
print("end of code")

Im inside if block
a>b
end of code

### if-else block

In [9]:
a=5
b=2
if a>b:
    print("Im inside if block")
    print("a>b",a>b)
    c=5/2
    print(c)
else:
    print("Im inside else block")
print("end of code")

Im inside if block
a>b True
2.5
end of code

In [11]:
a=5
b=2
if a<b:  #If block executes only when the condition is true. If its False then else block will execute
    print("Im inside if block")
    print("a>b",a>b)
    c=5/2
    print(c)
else:
    print("Im inside else block")
print("end of code")

Im inside else block
end of code

In [12]:
#Write a program to find a greater number of two values
a=10
b=20
if a>b:
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

In [16]:
a=int(input("Enter the value of a: "))
b=int(input("Enter the value of b: "))
if a>b:
    print("Greater number is ",a)
else:
    print("Greater number is ",b)

Enter the value of a: 35
Enter the value of b: 67
Greater number is  67

In [18]:
# Write a program to find the entered number is even or odd.
n=int(input("Enter a number: "))
if n%2==0:
    print("{} is an even number".format(n))
else:
    print("{} is an odd number".format(n))

Enter a number: 25
25 is an odd number

In [21]:
# write a program to find whether "a" is present or not
name=input("Enter your name: ")
if 'a' in name:
    print("a is present in your name")
else:
    print("a is not present in your name")

Enter your name: brgh
a is not present in your name

### elif block

In [25]:
a=int(input("Enter the value of a: "))
b=int(input("Enter the value of b: "))
c=int(input("Enter the value of c: "))

if (a>b) and (a>c):
    print("a is greater")
elif (b>a) and (b>c): 
    print("b is greater")
else:
    print("c is greater")

Enter the value of a: 37
Enter the value of b: 56
Enter the value of c: 45
b is greater

In [31]:
name="anuraaag1234@#$%"

if(name.isalpha()):
    print("name only contains alphabets")
elif(name.isalnum()):
    print("contains both numbers and characters")
else:
    print("It contains mixture of characters")

It contains mixture of characters

## Data Structures

### List

In [32]:
mylist=['apple' , 'ball' , 1,2,3,4 , True]
type(mylist)

list

In [33]:
#Create empty list

list_var=[]
type(list_var)

list

In [35]:
mylist=['anuraag' , 'abdul' , 'ganesh' , 'Thomas']

In [36]:
mylist1=['kumar' , 'raaza' , 'john']

In [37]:
mylist+mylist1

['anuraag', 'abdul', 'ganesh', 'Thomas', 'kumar', 'raaza', 'john']

In [38]:
mylist*4

['anuraag',
 'abdul',
 'ganesh',
 'Thomas',
 'anuraag',
 'abdul',
 'ganesh',
 'Thomas',
 'anuraag',
 'abdul',
 'ganesh',
 'Thomas',
 'anuraag',
 'abdul',
 'ganesh',
 'Thomas']

In [39]:
'anuraag' in mylist

True

In [40]:
'ganesh' not in mylist

False

In [44]:
mylist[2]

'ganesh'

In [45]:
mylist[-1]

'Thomas'

In [46]:
mylist[::2]

['anuraag', 'ganesh']

In [47]:
mylist[::]

['anuraag', 'abdul', 'ganesh', 'Thomas']

### List Function

In [48]:
mylist

['anuraag', 'abdul', 'ganesh', 'Thomas']

In [49]:
mylist.append("rahul")

In [50]:
mylist

['anuraag', 'abdul', 'ganesh', 'Thomas', 'rahul']

In [51]:
mylist.extend(["sharma" , "harish" , "arun"])

In [52]:
mylist

['anuraag', 'abdul', 'ganesh', 'Thomas', 'rahul', 'sharma', 'harish', 'arun']

In [53]:
mylist.append("anuraag")

In [54]:
mylist

['anuraag',
 'abdul',
 'ganesh',
 'Thomas',
 'rahul',
 'sharma',
 'harish',
 'arun',
 'anuraag']

In [55]:
mylist.extend(mylist1)

In [56]:
mylist

['anuraag',
 'abdul',
 'ganesh',
 'Thomas',
 'rahul',
 'sharma',
 'harish',
 'arun',
 'anuraag',
 'kumar',
 'raaza',
 'john']

In [57]:
mylist[1] = 'ayush'

In [58]:
mylist

['anuraag',
 'ayush',
 'ganesh',
 'Thomas',
 'rahul',
 'sharma',
 'harish',
 'arun',
 'anuraag',
 'kumar',
 'raaza',
 'john']

In [59]:
mylist.count("anuraag")

2

In [60]:
mylist.insert(2,"manoj")

In [61]:
mylist

['anuraag',
 'ayush',
 'manoj',
 'ganesh',
 'Thomas',
 'rahul',
 'sharma',
 'harish',
 'arun',
 'anuraag',
 'kumar',
 'raaza',
 'john']

In [62]:
new_list=mylist.copy()

In [63]:
new_list

['anuraag',
 'ayush',
 'manoj',
 'ganesh',
 'Thomas',
 'rahul',
 'sharma',
 'harish',
 'arun',
 'anuraag',
 'kumar',
 'raaza',
 'john']

In [64]:
mylist1

['kumar', 'raaza', 'john']

In [65]:
mylist1.reverse()

In [66]:
mylist1

['john', 'raaza', 'kumar']

In [67]:
mylist1.sort()

In [68]:
mylist1

['john', 'kumar', 'raaza']

In [69]:
mylist1.sort(reverse=True)  # sort z-a

In [70]:
mylist1

['raaza', 'kumar', 'john']

In [73]:
mylist1.sort(reverse=False)

In [74]:
mylist1

['john', 'kumar', 'raaza']

In [75]:
k=['z','y','c']
k.sort(reverse=False)

In [76]:
k

['c', 'y', 'z']

In [77]:
mylist.pop()

'john'

In [78]:
mylist.clear()

In [79]:
mylist

[]

In [84]:
mylist1 = ['x' , 'y' , 'z']

In [85]:
del mylist1 #Deletes the variable

In [87]:
list1=["a" , "b" , ["c" , "d" , "e"],"f",1.5]

In [90]:
list1[1]

'b'

In [92]:
list1[2]

['c', 'd', 'e']

In [94]:
list1[2][1]  #Accessing the nested list elements

'd'

In [97]:
list1[4]

1.5

In [99]:
data1=[1,2,3,True,"sun"]

In [100]:
data2=[1,2,3,True,"sun",False]

In [101]:
data3=[1,2,3,True,"sun",0]

In [102]:
all(data1)

True

In [103]:
all(data2)  #If any one member of the list is False or 0 then the output is False

False

In [104]:
all(data3)

False

In [112]:
data4=["",False,1] #For any function if any one member is True or 1 then the output is True

In [113]:
any(data4)

True

In [3]:
#1. Write a program to display the result of the student
#Collect five subjects data, calculate total,percentage, if the percentage is >85 - congratulate him stating that he got distinction
#If its >60 and <85 = FC , if >35 and <60 = SC or else Fail

#2. Write a program to verify the input is alpha,alphanumeric or digit.
a=int(input("Enter marks in subject 1: "))
b=int(input("Enter marks in subject 2: "))
c=int(input("Enter marks in subject 3: "))
d=int(input("Enter marks in subject 4: "))
e=int(input("Enter marks in subject 5: "))
total_marks=a+b+c+d+e
percentage=(a+b+c+d+e)*0.2
print("Total marks obtained by the student: ",total_marks)
print("Percentage obtained by the student: ",percentage)
if(percentage>85):
    print("Congratulations! You got distinction.")
elif(percentage>60 and percentage<85):
    print("First Class")
elif(percentage>35 and percetnage<60):
    print("Second Class")
else:
    print("Fail")

Enter marks in subject 1: 99
Enter marks in subject 2: 98
Enter marks in subject 3: 90
Enter marks in subject 4: 80
Enter marks in subject 5: 89
Total marks obtained by the student:  456
Percentage obtained by the student:  91.2
Congratulations! You got distinction.

In [8]:
#2
a=input("Enter :")
if(a.isalpha()):
    print("Alphabets")
elif(a.isalnum()):
    print("Both alphabets and characters")
elif(a.isdigit()):
    print("Digits")
else:
    print("None")

Enter :3456
Both alphabets and characters