### Tuple (IMMUTABLE)

In [26]:
tup1=() #Empty tuple

In [27]:
tup2 = (10,30,60)

In [28]:
tup3 = (10,'string',(1,2,3))

In [29]:
tup4 = ('string' ,2 ,(1,2,3),{1,2,3},[1,2,3])

In [30]:
len(tup4)

5

In [31]:
tup2[0]

10

In [32]:
tup4[3] #INDEXING

{1, 2, 3}

In [34]:
tup2[1:3] #SLICING

(30, 60)

In [36]:
tup2[0]=10 #IMMUTABLE

TypeError: 'tuple' object does not support item assignment

In [37]:
del tup2[0] #cannot delete particular elements within a tuple

TypeError: 'tuple' object doesn't support item deletion

In [39]:
tup2.count(10)

1

In [41]:
tup2.index(30)

1

In [47]:
mytuple=(10,34,89,45,23)
t=sorted(mytuple)

In [48]:
sorted(mytuple,reverse=True)

[89, 45, 34, 23, 10]

In [49]:
type(t)

list

In [50]:
tuple(t)

(10, 23, 34, 45, 89)

In [51]:
set(t)

{10, 23, 34, 45, 89}

### Set

In [52]:
myset={1,2,3,4,4,5,5,5,6}

In [53]:
myset

{1, 2, 3, 4, 5, 6}

In [55]:
myset2={}
type(myset2)

dict

In [57]:
myset2={12,23,43,43,11,20,56,56,45,45,9}
myset2

{9, 11, 12, 20, 23, 43, 45, 56}

In [58]:
len(myset2)

8

In [59]:
myset2[3] #Indexing not possible

TypeError: 'set' object is not subscriptable

In [60]:
myset2[1:] #Slicing not possible

TypeError: 'set' object is not subscriptable

In [61]:
myset+myset2 #Concatenation not possible

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [62]:
3 in myset

True

In [63]:
10 not in myset

True

In [64]:
s=set()
type(s)

set

In [67]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

print(A|B)
print(A.union(B))
print(A&B)
print(A.intersection(B))
print(A-B)
print(A.difference(B))
print(B-A)
print(B.difference(A))
print(A|B|C)
print(A&B&C)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{8, 6, 7}
{8, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set()

In [71]:
myset = {'one' , 'two','three' , 'four' , 'five'}
myset

{'five', 'four', 'one', 'three', 'two'}

In [73]:
myset.add('twenty')
myset

{'five', 'four', 'one', 'three', 'twenty', 'two'}

In [74]:
myset.update(['Ten' , 'Eleven','Twelve'])

In [75]:
myset

{'Eleven', 'Ten', 'Twelve', 'five', 'four', 'one', 'three', 'twenty', 'two'}

In [76]:
myset.remove('one')  #OR myset.discard

In [77]:
myset

{'Eleven', 'Ten', 'Twelve', 'five', 'four', 'three', 'twenty', 'two'}

In [78]:
myset.clear()  #Deletes all items in a set
myset

set()

In [79]:
del myset   #Deletes set object(variable)

### Dictionary

In [80]:
d={}
type(d)

dict

In [81]:
dict_var={"key1":"value","key2":"value2","key3":"value3"}
type(dict_var)

dict

In [82]:
dict1={1:"anuraag",2:"abdul",3:"supritha",4:"ganesh","a":12000}
type(dict1)

dict

In [83]:
len(dict1)

5

In [84]:
dict1[3]

'supritha'

In [85]:
dict1['a']

12000

In [87]:
dict2={1:"anuraag",2:"abdul",3:"supritha",4:"ganesh","a":12000,3:"supritha",4:"ganesh"}

In [88]:
dict2

{1: 'anuraag', 2: 'abdul', 3: 'supritha', 4: 'ganesh', 'a': 12000}

In [89]:
dict1={1:"anuraag",2:"abdul",3:"supritha",4:"ganesh","a":12000,3:"manish",4:"binne"}
dict1  #Prints the updated value or the latest value

{1: 'anuraag', 2: 'abdul', 3: 'manish', 4: 'binne', 'a': 12000}

In [90]:
dict2["a"]="amit" #We can modify value but not the key
dict2

{1: 'anuraag', 2: 'abdul', 3: 'supritha', 4: 'ganesh', 'a': 'amit'}

In [91]:
#Concatenation of two dictionaries isn't supported

In [95]:
1 in dict2  #Checks with Key and not with value

True

### Dictionary Functions

In [96]:
new_dict=dict2.copy()

In [97]:
new_dict

{1: 'anuraag', 2: 'abdul', 3: 'supritha', 4: 'ganesh', 'a': 'amit'}

In [100]:
a=dict2.items()

In [101]:
type(a)

dict_items

In [103]:
dict2.keys()

dict_keys([1, 2, 3, 4, 'a'])

In [105]:
dict2.values()

dict_values(['anuraag', 'abdul', 'supritha', 'ganesh', 'amit'])

In [107]:
dict2.pop(2)

'abdul'

In [108]:
dict2

{3: 'supritha', 4: 'ganesh', 'a': 'amit'}

In [109]:
dict2.popitem()

('a', 'amit')

In [111]:
dict2

{3: 'supritha', 4: 'ganesh'}

In [113]:
dict2.update({"5":"sun"})

In [114]:
dict2

{3: 'supritha', 4: 'ganesh', '5': 'sun'}

In [115]:
dict2.update({"T":"TIGER","F":"FISH"})

In [116]:
dict2

{3: 'supritha', 4: 'ganesh', '5': 'sun', 'T': 'TIGER', 'F': 'FISH'}

In [118]:
dict3={1:'one', 2:'two' , 3:'three','A':['Data' , 'John' , "Maria"]}

In [119]:
dict3['A']

['Data', 'John', 'Maria']

In [120]:
dict3['A'][1]

'John'

In [122]:
d={0:{'one':1,'two':2,'three':3,'four':4},
   1:{'city':'bangalore','area':'kudlu'},
   'three':{'city':'mumbai','area':'Dharavi'}}

In [123]:
d[0]['two']

2

In [124]:
d['three']['city']

'mumbai'

In [126]:
v=[0,1,2,3,[8,{5:[67,89,90,{'area':'kBs','city':'bangalore'}]}]]

In [127]:
v[4][1][5][3]['city']

'bangalore'

In [128]:
#Dictionaries are mutable

## Iterative Statements

### While Loop

In [130]:
i=0
while(i<10):
    print("anuraag")
    i=i+1
    print("The value of i after increment: ",i)

anuraag
The value of i after increment:  1
anuraag
The value of i after increment:  2
anuraag
The value of i after increment:  3
anuraag
The value of i after increment:  4
anuraag
The value of i after increment:  5
anuraag
The value of i after increment:  6
anuraag
The value of i after increment:  7
anuraag
The value of i after increment:  8
anuraag
The value of i after increment:  9
anuraag
The value of i after increment:  10

In [132]:
i=0
mylist=['a','b','c']
while i<len(mylist):
    print("the value of i is",i)
    print(mylist)
    i=i+1
    print("end of code")

the value of i is 0
['a', 'b', 'c']
end of code
the value of i is 1
['a', 'b', 'c']
end of code
the value of i is 2
['a', 'b', 'c']
end of code

In [134]:
i=1
while i<6:
    print('the value of i is' ,i)
    if i==3:
        break
    i+=1
print("rest of the code")

the value of i is 1
the value of i is 2
the value of i is 3

In [138]:
#Task: ["a" , "b" , "c" ,"d" , "e"]
n=["a" , "b" , "c" ,"d" , "e"]
i=0
while(i<len(n)):
    print(n[i])
    if n[i]=='c':
        break
    i=i+1

a
b
c

In [139]:
i=0
while i<6:
    i+=1
    if i==3:
        continue #Skip the execution for the above condition
    print("Im inside while loop and value of i",i)
    print(i)

Im inside while loop and value of i 1
1
Im inside while loop and value of i 2
2
Im inside while loop and value of i 4
4
Im inside while loop and value of i 5
5
Im inside while loop and value of i 6
6

In [141]:
n=0
while(n<10):
    n=n+1
    if (n%2==0):
        continue
    print(n)
    
print("end")

1
3
5
7
9
end

### For Loop

In [142]:
str_var="Anuraag"
for i in str_var:
    print("the value of x is",i)

the value of x is A
the value of x is n
the value of x is u
the value of x is r
the value of x is a
the value of x is a
the value of x is g

In [145]:
listvar = [2,'abc' , 4 , 3 , 'xyz']
for i in listvar:
    print("the value of i is",i)

the value of i is 2
the value of i is abc
the value of i is 4
the value of i is 3
the value of i is xyz

In [146]:
#We can apply 'for' loop for list,tup,set,dict,str

In [148]:
for i in {'a',"b","c"}:
    print(i)

b
a
c

In [151]:
str_var = "Anuraag"
for i in str_var:
    if i=='r':
            break
    print(i)

A
n
u

In [152]:
str_var = "Anuraag"
for i in str_var:
    if i=='r':
        continue
    print(i)

A
n
u
a
a
g

In [153]:
for x in range(5):
    print(x)

0
1
2
3
4

In [159]:
for x in range(2,20):
    print(x)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [164]:
for x in range(2,20,2):
    print(x)

2
4
6
8
10
12
14
16
18

In [165]:
mylist=['ganesh','thomas','manish','anuraag','thomas']
for x in range(len(mylist)):
    print(x)

0
1
2
3
4

In [166]:
mylist=['ganesh','thomas','manish','anuraag','thomas']
for x in range(len(mylist)):
    print(mylist[x])

ganesh
thomas
manish
anuraag
thomas

## Modules

In [167]:
#Collection of functions
#Collection of modules is a library
#Collection of library - Packages

In [168]:
from datetime import date
#getting today's date
today1=date.today()
print("Today's date is",today1)

Today's date is 2023-08-26

In [171]:
print(today1.year)
print(today1.month)
print(today1.day)

2023
8
26

In [172]:
from datetime import time

In [175]:
current_time=date.today()
current_time

datetime.date(2023, 8, 26)