### Nested for loop

In [1]:
for i in range(5):
    print("************in outer loop***********")
    for j in range(3):
        print("Im in inner loop")

************in outer loop***********
Im in inner loop
Im in inner loop
Im in inner loop
************in outer loop***********
Im in inner loop
Im in inner loop
Im in inner loop
************in outer loop***********
Im in inner loop
Im in inner loop
Im in inner loop
************in outer loop***********
Im in inner loop
Im in inner loop
Im in inner loop
************in outer loop***********
Im in inner loop
Im in inner loop
Im in inner loop

In [2]:
list1=['Maths','Science','Geo','Eco','Social']
list2=[78,90,70,56,90]

for i in list1:
    for k in list2:
        print("The value of i is {} and the value of k is{}".format(i,k))
    print("=="*20)

The value of i is Maths and the value of k is78
The value of i is Maths and the value of k is90
The value of i is Maths and the value of k is70
The value of i is Maths and the value of k is56
The value of i is Maths and the value of k is90
========================================
The value of i is Science and the value of k is78
The value of i is Science and the value of k is90
The value of i is Science and the value of k is70
The value of i is Science and the value of k is56
The value of i is Science and the value of k is90
========================================
The value of i is Geo and the value of k is78
The value of i is Geo and the value of k is90
The value of i is Geo and the value of k is70
The value of i is Geo and the value of k is56
The value of i is Geo and the value of k is90
========================================
The value of i is Eco and the value of k is78
The value of i is Eco and the value of k is90
The value of i is Eco and the value of k is70
The value of i is Eco and the value of k is56
The value of i is Eco and the value of k is90
========================================
The value of i is Social and the value of k is78
The value of i is Social and the value of k is90
The value of i is Social and the value of k is70
The value of i is Social and the value of k is56
The value of i is Social and the value of k is90
========================================

In [6]:
#input : mylist=[2,3,4,5,6,7,8]
#output : square of these numbers

mylist=[2,3,4,5,6,7,8]
for i in range(len(mylist)):
    mylist[i]=mylist[i]*mylist[i]
print(mylist)

[4, 9, 16, 25, 36, 49, 64]

In [7]:
#OR
mylist=[2,3,4,5,6,7,8]
output=[]
for num in mylist:
    output.append(num**2)
print(output)

[4, 9, 16, 25, 36, 49, 64]

In [8]:
a=['red','blue','green']
b=['apple','orange']

In [9]:
l=[1,2,3,4,5,6,7,8,9,0,12,34,55]
for i in l:
    if(i%2==0):
        print(i,'is even')
    else:
        print(i,'is odd')

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
0 is even
12 is even
34 is even
55 is odd

## Functions

In [10]:
def hello_function():      #User defined function
    print("hi hello")
hello_function()
hello_function()

hi hello
hi hello

In [11]:
print("line 1")
print("line 2")

def sayhello():
    print("hi.....print line 5.....")

def display():
    print("display function")
    
print("line 11")
sayhello()
print("line 13")
sayhello()
sayhello()

display()

line 1
line 2
line 11
hi.....print line 5.....
line 13
hi.....print line 5.....
hi.....print line 5.....
display function

In [16]:
def addfunction(a,b):
    print("Value of a is",a)
    print("Value of b is",b)
    c=a+b
    print(c)
    return c      # return var/value/str
    
res=addfunction(2,3)
print(res)
print(res*100)

Value of a is 2
Value of b is 3
5
5
500

In [22]:
def employee_details(name,id_num,country):
    print("Name is: ",name)
    print("ID is: ",id_num)
    print("Country is: ",country)
    return name,id_num,country
    

employee_details('Mevin',21,'pakistan')
print("--")
employee_details('Ashifa',10,'india')
print("--")
employee_details('Vina',21,'bangladesh')
print("--")

Name is:  Mevin
ID is:  21
Country is:  pakistan
--
Name is:  Ashifa
ID is:  10
Country is:  india
--
Name is:  Vina
ID is:  21
Country is:  pakistan
--

In [23]:
def employee_details(name,id_num,country="australia"):
    print("Name is: ",name)
    print("ID is: ",id_num)
    print("Country is: ",country)
    return name,id_num,country
    

employee_details('Mevin',21,'pakistan')
print("--")
employee_details('Ashifa',10,'india')
print("--")
employee_details('Vina',21)
print("--")

Name is:  Mevin
ID is:  21
Country is:  pakistan
--
Name is:  Ashifa
ID is:  10
Country is:  india
--
Name is:  Vina
ID is:  21
Country is:  australia
--

In [24]:
def area_of_circle(r):
    r=print("Enter the value of radius")
    area=3.14*r*r
    return area

s=int(input("Area of circle is",area))
area_of_circle(s)

NameError: name 'area' is not defined

In [30]:
def evenorodd():
    '''this function block return even or odd number as per user input'''
    a=int(input("Enter your number"))
    if a%2==0:
        return 'The number is even'
    else:
        return 'The number is odd'
evenorodd()

Enter your number23

'The number is odd'

In [31]:
print(evenorodd.__doc__)
print(len.__doc__)

this function block return even or odd number as per user input
Return the number of items in a container.

In [34]:
def swap(a,b):
    a,b=b,a
    print("the value of a and b is",a,b)
    return a,b

swap(2,3)

the value of a and b is 3 2

(3, 2)

In [36]:
def squareofnum(n):
    return n**2

def add(a,b):
    return a+b

x=squareofnum(2)
print("the value of x ",x)

y=add(2,3)
print("the value of y ",y)

result = squareofnum(2)+add(2,3)
print(result)

the value of x  4
the value of y  5
9

In [38]:
#lambda function

add_num = lambda a,b:a+b
c=add_num(2,3)
print(c*100)

500

In [40]:
product = lambda a,b:a*b
c=product(6,7)
print(c)

42

In [41]:
name="suraj"
lastname='v'
full_name=lambda name,lastname:name+lastname

print(full_name(name,lastname))

surajv

In [42]:
comp=lambda a,b:a if a>b else b
print(comp(5,6))

6

In [45]:
#LIST COMPREHENSION

mylist=[2,4,6]
output=[x**2 for x in mylist]
print(output)

[4, 16, 36]

In [47]:
list_var=[[j for j in range(1,6)] for i in range(4)]
list_var

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [48]:
number_list=[num for num in range(30) if num%2!=0]
print(number_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [50]:
nested_list=[[x+y for y in range(5)]for x in range(3)]
print(nested_list)

[[0, 1, 2, 3, 4], [1, 2, 3, 4, 5], [2, 3, 4, 5, 6]]

In [51]:
#filter function : It always returns true

def odd_num(seq):
    print("the seq value before of is ",seq)
    if (seq%2!=0):
        print("seq in if block",seq)
        return True
    
print("==========")
lst=[1,2,3,4,5,6,7,8]
print(lst)
result=filter(odd_num,lst)
list(result)

==========
[1, 2, 3, 4, 5, 6, 7, 8]
the seq value before of is  1
seq in if block 1
the seq value before of is  2
the seq value before of is  3
seq in if block 3
the seq value before of is  4
the seq value before of is  5
seq in if block 5
the seq value before of is  6
the seq value before of is  7
seq in if block 7
the seq value before of is  8

[1, 3, 5, 7]

In [52]:
def fun(variable):
    vowels=['a','e','i','o','u']
    if (variable in vowels):
        return True
    else:
        return False
    
sequence = ['g' , 'e' , 'e' , 'i' , 'i',] #to be completed

### Map Function

In [53]:
def addition(n):
    return n*n

numbers=(1,2,3,4)
result = map(addition,numbers)

print(list(result))

[1, 4, 9, 16]

In [59]:
import functools as f
def function(a,b):
    return a+b

list_var=[1,2,3,4,5]
var=f.reduce(function,list_var)
var

15

In [60]:
list_var1=[2,5,6,7]
res=f.reduce(lambda x,y:x if x>y else y,list_var1)
res

7